<body>
    

<header class="header">
    <nav>
        <ul>
            <li>
                <button class="login-btn">LOG IN</button>
            </li>
        </ul>
    </nav>

    <div class="header-content">
        <h4>BUNDLE WITH ANY HULU PLAN & SAVE</h4>
        <img src="/assets/img/logo.png" alt="HULU" class="logo">
        <div class="header-text-1"> <p> Get endless entertainment, live sports, and the shows
            <br> and movies you love.</p></div>
       
        <button class="btn btn-cta">GET THE DISNEY BUNDLE</button>
        <div class="included-text"> <a class="included-text"href="#"> What's included?</a> See <a class="included-text" href="#"> Bundle terms.</a></div>
        <a class="sign-up-text" href="#">Sign up for Hulu only</a>
    </div>
</header>
</body>
