<div class="card-container">
    <div class="card">
        <img src="https://c4.wallpaperflare.com/wallpaper/353/690/516/superman-batman-v-superman-dawn-of-justice-man-of-steel-dc-comics-wallpaper-preview.jpg" alt="">
        <div class="card-content">
            <h2>aquaman</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. A cursus quis
              tristique dignissim. In fermentum et ullamcorper et sagittis.
            </p>
            <button>Watch Triller</button>
        </div>
    </div>
</div>