<div class="standardmembership">
  <div class="standard-info">
      <h1>Cart</h1>
      <div class="product-title">
        <p>Product</p>
        <p>Price</p>
      </div>
      <div class="product-des">
        <p>Standard Membership</p>
        <p>$15.49</p>
      </div>
      <div class="total">
        <span>Total:   </span><span class="total-price">$15.49</span>
      </div>
      <div class="button-container">
        <div class="previous">
          <button type="button"class="btn-primary" (click)="previous()">Previous</button>
        </div>
        <div class="confirm">
          <button (click)="upgrade()" type="button" class="btn-danger">Confirm</button>
        </div>
      </div>
  </div>
</div>