/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Rubik', sans-serif;
    background: #000;
    color: #fff;
    line-height: 1.7;
    overflow-x: hidden;
}
