<div class="register-form">
<div class="form-header">
  <div class="title">Create Your Account</div>
  <div class="sub-title">Use your email and password to watch on your favorite devices.</div>
</div>
<form>
  <label for="email">Email</label>
  <input type="text" name="email" />
  <label for="password">Password</label>
  <input type="text" name="password"  />
  <label for="firstname">Name</label>
  <input type="text" name="firstname" />
  <div>
    <h6>BIRTHDATE</h6>
    <select>
      <option>MONTH</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <select>
      <option>DATE</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
    </select>
    <select>
      <option>YEAR</option>
      <option>1997</option>
      <option>1998</option>
      <option>1999</option>
      <option>2000</option>
    </select>
    <h6>GENDER</h6>
    <select class="gender">
      <option>YEAR</option>
      <option>1997</option>
      <option>1998</option>
    </select>
  </div>
</form>
<div class="footer">By clicking “CONTINUE” you agree to the Hulu Terms of Use and Privacy Policy.
  <button>CONTINUE</button>
</div>

</div>
